body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-image: url('https://t4.ftcdn.net/jpg/06/36/46/61/360_F_636466127_GJJJ2Z1fVXe0tsblsbOHB2uKkNhcJOES.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
h1, h3 {
    display: flex;
    justify-content: center;
}
input {
    width: 30px;
    height: 30px;
    text-align: center;
}
#submitButton {
    display: flex;
    width: 60px;
    height: 30px;
}
.opening {
    display: flex;
    flex-direction: flex-end;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 24px;
    justify-content: center;
    color: #ffffff;
    background-color: cadetblue;
    border-radius: 4px;
    border: 2px solid aquamarine;
}
ul{
    display: flex;
    justify-content:center;
}
video {
    width: 200px;
    height: 200px;
}