body {
    display: flex;
    display: flexbox;
    background-image: url('https://t4.ftcdn.net/jpg/06/36/46/61/360_F_636466127_GJJJ2Z1fVXe0tsblsbOHB2uKkNhcJOES.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}