h1 {
    font-size: 75px;
    margin: 0px;
    background-color: rgba(3, 190, 140, 0.722);
}
body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp10846526.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
h1, h3 {
    display: flex;
    justify-content: center;
}
img {
    display: flex;
    flex-direction: flex-start; 
    width:25%;
    height: 35%;
}
input {
    display:flex;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(253, 249, 120, 0.722);
}
#submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 40px;
}
.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #ffffff;
    background-color: cadetblue;
    border-radius: 4px;
    border: 2px solid aquamarine;
}
.strike {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #fbf8f8;
    background-color: rgb(2, 2, 2);
    border-radius: 4px;
    border: 2px solid aquamarine;
}
ul {
    padding: 0;
    display: flex;
    justify-content:center;
}
.missed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    max-height: 20px;
    background-color: rgba(206, 64, 109, 0.6);
}
.end{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 216px;
    height: 54px;
}
#wrong{
    width: 16.45px;
    text-align: center;
}
#pic {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    top: 33%;
    left: 0%;
    position: absolute;
    width: 100%; 
}
#banner {
    height: 100px;
    width: 375px;
    margin-bottom: 1px;
}
h3 {
    font-size: 40px;
    text-align: center;
    color: yellow;
    background-color: rgba(101, 250, 208, 0.6);
}
video {
    width: 600px;
    opacity: 0;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data {
    display: flex;
    flex-direction: row;
}
